*{  box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*css do meu cabeçalho*/
header li{
    display: inline;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
body > header {
    background-color: #2f3640;
    padding: 16px 0 ;
    color: #f5f6fa;
    

}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header li a {
    color: #f5f6fa;
    text-decoration: none;
    
}
.container{
    width: 1366px;
    margin: 0 auto;
    
}
.articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    /*height: 180px;*/
    width: 100%; 
}
.articles article{
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2, .articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    
}
.articles article a:hover{
    text-decoration: underline;
}
.articles article p, .articles article a,
.articles article h3 {
    font-family : Arial, Helvetica, sans-serif;
}
.articles article h3{
   font-size:25px; 
}
section h2{
    font-size: 35px;
} 
#esportes{
    background-color: rgba(0,255,0,0.2);
}
#esportes .articles article a{
    background-color: #009432;
    color: #fff;
}
#economia{
    background-color: #f8f59f;
}
#economia .articles article a{
    background-color:#ff9f1a ;
    color: #fff;
}

#Tecnologia{
    background-color: #393c42;
}
#Tecnologia h2, #Tecnologia h3, #Tecnologia p{
    color: #f5f6fa;
}
#Tecnologia .articles time{
    color: #f5f6fa;
}
#Tecnologia .articles article a{
    background-color: brown;
}
#games{
    background-color: #9fb4ff;

}

#games .articles article a{
    background-color: #192b6f;
}